* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: bisque;
}
/* This is the #wrapper id that centers all the content  */
#wrapper {
    width: 1000px;
    margin: 50px auto;
    background-color: bisque;
}
header {
    background-color:bisque;
    padding: 0 20px 0 0px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1000px;
}
header #logContacts {
    font-size: 1em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    float: right;
    padding: 40px 20px 40px 0;
    width: 400px;
    text-align: right;
    color: brown;
}
#log {
    flex: auto;
    padding: 5px 0 0 0;
}
#contact {
    flex: auto;
    padding: 5px 0 0 0;
}
input {
    padding: 5px;
}
button {
    color: #ffffff;
    background-color: brown;
    padding: 5px;
    text-transform: uppercase;
}
#logo {
    font-family: 'Roboto', sans-serif;
    background-color: brown;
    width: 150px;
    float: left;
    margin: 0 0 10px 0;
}  
#logo p {
    font-size: 1em;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    flex-direction: column;
    text-align: center;
    flex: auto;
}
header #logo p:nth-child(1) {
    margin: 20px 0 0 0;
    letter-spacing: 0.20em;
}
header #logo p:nth-child(2) {
    letter-spacing: 0.27em;
}
header #logo p:nth-child(3) {
    margin: 0 0 20px 0;
    letter-spacing: 0.5em;
}

nav ul {
    background-color: bisque;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: brown 2px dotted;
    border-bottom: brown 2px dotted;
    font-weight: bolder;
    width: 1000px;
    margin: 0 auto;
    
}
nav li {
    display: inline-block;
    background: bisque;
    font-size: 1em;
    flex: auto;
    text-transform: uppercase;
    
}
nav li a {
    text-decoration: none;
    color: brown;
    display: block;
    padding: 5px 0;
    /* animation-name: navButton;
    animation-duration: 20s; */
}
nav li a:hover {
    color: #ffffff;
    background-color: brown;
    display: block;
    animation-name: navButton;
    animation-fill-mode: backwards;
    animation-duration: 700ms;

}
#container {   
    background-color: bisque;
    display: flex;
}
main {
    width: 650px;
    margin: 0 40px 0 0;
    border-radius: 10px;
}
main article {
    display: block;
    margin: 20px 0 30px 0;
}
main article p {
    margin: 10px 20px;
}
main .sections {
    display: block;
    margin: 0 0 30px 0;
}
main .sections h2 {
    display: block;
    border-bottom: brown 2px dotted;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.165em;
    color: brown;
}
main .sections p {
    margin: 10px 20px;
}
article img {
    float: left;
    width: 50px;
    margin: 0 20px;
}
aside {
    width: 350px;
    /* height: 400px; */
    /* border-left: 2px dotted brown; */
    margin: 20px 0;
}
p {
    margin: 25px 20px;
}
#gallery {
    height: 400px;
    width: 1000px;
    background-color: brown;
    margin: 10px auto 0 auto;
    color: #ffffff;
}
#join {
    width: 320px;
    height: 325px;
    text-align: center;
    color: #ffffff;
    border: brown 2px dotted;
    margin: 10px 0 0 0;
}
#join h2 {
    display: block;
    text-transform: uppercase;
    border-bottom: brown 2px dotted;
    color: brown;
    font-weight: bolder;
    font-size: 2em;
}
#join p {
    color: brown;
    text-align: left;
    padding: 0 10px;
}
#testimonies {
    width: 320px;
    height: 325px;
    text-align: center;
    color: #ffffff;
    border: brown 2px dotted;
    margin: 20px 0 0 0;
}
#testimonies h2 {
    display: block;
    text-transform: uppercase;
    border-bottom: brown 2px dotted;
    color: brown;
    font-weight: bolder;
    font-size: 2em;
}
#testimonies p {
    color: brown;
    text-align: left;
    padding: 0 10px;
}

footer {
    background-color: brown;
    margin: 10px auto 10px auto;
    width: 1000px;
    text-align: center;
    display: flex;
}
footer p {
    color: bisque;
    flex: auto;
    margin: 0;
    padding: 10px 0;
    font-size: 0.8em;
}
img.spin {
    animation: spin;
    animation-duration: 500ms;
}
@keyframes navButton {   
    0% { background-color: bisque;    
    } 
    100% {
      background-color: brown;
    }
  }

  @keyframes spin {   
    0% { 
    } 
    100% {
      transform: rotate(360deg);
    }
  }