* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: bisque;
}
/* This is the #wrapper id that centers all the content  */
#wrapper {
    width: 1000px;
    margin: 50px auto;
    background-color: bisque;
}
header {
    background-color:bisque;
    padding: 0 20px 0 0px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1000px;
}
header #logContacts {
    font-size: 1em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    float: right;
    padding: 40px 20px 40px 0;
    width: 400px;
    text-align: right;
    color: brown;
}
#log {
    flex: auto;
    padding: 5px 0 0 0;
}
#contact {
    flex: auto;
    padding: 5px 0 0 0;
}
input {
    padding: 5px;
}
button {
    color: #ffffff;
    background-color: brown;
    padding: 5px;
    text-transform: uppercase;
}
#logo {
    font-family: 'Roboto', sans-serif;
    background-color: brown;
    width: 150px;
    float: left;
    margin: 0 0 10px 0;
}  
#logo p {
    font-size: 1em;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    flex-direction: column;
    text-align: center;
    flex: auto;
}
header #logo p:nth-child(1) {
    margin: 20px 0 0 0;
    letter-spacing: 0.20em;
}
header #logo p:nth-child(2) {
    letter-spacing: 0.27em;
}
header #logo p:nth-child(3) {
    margin: 0 0 20px 0;
    letter-spacing: 0.5em;
}

nav ul {
    background-color: bisque;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: brown 2px dotted;
    border-bottom: brown 2px dotted;
    font-weight: bolder;
    width: 1000px;
    margin: 0 auto;
}
nav li {
    display: inline-block;
    background: bisque;
    font-size: 1em;
    flex: auto;
    text-transform: uppercase;
}
nav li a {
    text-decoration: none;
    color: brown;
}
nav li a:hover {
    color: #ffffff;
    background-color: brown;
}
#container {   
    background-color: bisque;
    display: flex;
}
main {
    width: 650px;
}
aside {
    width: 350px;
    /* height: 400px; */
    border-left: 2px dotted brown;
}
p {
    margin: 1em;
}
#gallery {
    height: 400px;
    width: 1000px;
    background-color: brown;
    margin: 10px auto 0 auto;
    color: #ffffff;
}
footer {
    background-color: brown;
    height: 60px;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    display: flex;
}
footer p {
    color: bisque;
    flex: auto;
}